body{
    overflow: hidden;
    min-height: 100vh;
    /*17- je crée un cursor*/
    cursor: crosshair;
}
.bubble{
    position: absolute;
    border-radius: 300px;
    background: rgba(255, 166,0,0.6);
    opacity: 0;
    animation: anim 7s forwards; /* 10-la bulle reste dans l'état avant*/
    filter: hue-rotate(0deg); /*  11-roue de rotation de couleur*/
}

@keyframes anim {
    to {
        top: -250px;
        left: var(--left);/* 12-j'injecte cette variable ici pour l'utiliser en js*/
        opacity: 1;
        filter: hue-rotate(720deg);
    }
}

/*20-je stylise mon h3*/
h3{
    font-size: 10rem;
    text-align: center;
    margin-top: 20px;
    color: grey;
}